/* No aruivo css este é o conteúdo que mais nos interessa */
.fullheight {
  /*com isso o header ficará sempre com o tamanho da tela */
  height: 100vh;
  /*background geralmente uso o modo compacto, mas aqui vou colocar separadamente para explicar cada parte*/
  /* aqui defino a imagem maior*/
  background-image: url("images/countdown-3-1600x900.jpg");
  /*deixa o background com efeito paralax*/
  background-attachment: fixed;
  /* cover é para nunca deixar espaço sem imagem*/
  background-size: cover;
}
/* aqui troco a imagem pra cada resolução na ordem do maior pro menor */
@media screen and (max-width: 1500px) {
  .header.fullheight {
    background-image: url("images/countdown-3-1600x900.jpg");
  }
}
@media screen and (max-width: 1000px) {
  .header.fullheight {
    background-image: url("images/countdown-3-1600x900.jpg");
  }
}
@media screen and (max-width: 800px) {
  .header.fullheight {
    background-image: url("images/countdown-3-1600x900.jpg");
  }
}
@media screen and (max-width: 600px) {
  .header.fullheight {
    background-image: url("images/countdown-3-1600x900.jpg");
  }
}
@media screen and (max-width: 400px) {
  .header.fullheight {
    background-image: url("images/countdown-3-1600x900.jpg");
  }
}
@media screen and (max-width: 320px) {
  .fullheight {
    background-image: url("image/cerca-320.jpg");
  }
}